@use "variables" as *;

.primary-btn {
    background-color: $primary-300;
    border: none;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: $fs-rg;
    font-weight: 700;
}

.skill-tag {
    background-color: $primary-350;
    padding: 0.5rem 1rem;
}
