@mixin flexbox($direction, $x-alignment, $y-alignment) {
    display: flex;
    flex-direction: $direction;
    justify-content: $x-alignment;
    align-items: $y-alignment;
}

@mixin flex-center($direction, $height, $width) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    min-height: $height;
    width: $width;
}
