@use "variables" as *;

h1 {
    font-size: $fs-lg;
    font-weight: 900;
    line-height: 120%;
}

h3 {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

p {
    color: $primary-400;
    font-size: $fs-rg;
}
