@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

/* FONTS */

$primary-font: "Inter", sans-serif;

$fs-xl: 4.5rem;
$fs-lg: 3rem;
$fs-md: 2.3rem;
$fs-rg: 1rem;
$fs-sm: 0.8rem;
$fs-xs: 0.75rem;

/* COLOURS */

$accent-color: hsl(13, 97%, 76%);
$primary-100: hsl(227, 23%, 8%);
$primary-300: hsl(212, 14%, 18%);
$primary-350: hsl(243, 12%, 39%);
$primary-400: hsl(215, 30%, 78%);
$primary-900: hsl(0, 0%, 100%);

/* SPACING */
