@use "variables" as *;
@use "reset" as *;
@use "mixins" as *;
@use "utils" as *;
@use "typography" as *;
@use "buttons" as *;

* {
    color: #fff;
    font-family: $primary-font;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: $primary-100;
}

.navbar {
    height: 72px;
    @include flexbox(row, space-between, center);

    &__nav-links,
    &__social-links {
        display: flex;
        align-items: center;
        column-gap: 2rem;

        > * {
            list-style: none;
        }
    }

    &__nav-links > * {
        color: $primary-400;
        transition: 0.3s ease;

        &:hover {
            color: $primary-900;
        }
    }
}

.hero {
    @include flex-center(column, calc(100vh - 72px), 100%);
    text-align: center;
    position: relative;

    &__main-heading {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &__description {
        color: $primary-400;
        width: 40%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    &__planet {
        border-radius: 50%;
        position: absolute;

        &--one {
            top: 15vh;
            left: 16vw;
            height: 30px;
            width: 30px;
            background-image: linear-gradient(0deg, #a18cd1, #fbc2eb);
        }

        &--two {
            top: 10vh;
            right: 20vw;
            height: 40px;
            width: 40px;
            background-image: linear-gradient(120deg, #84fab0, #8fd3f4);
        }

        &--three {
            top: 27vh;
            right: 10vw;
            height: 70px;
            width: 70px;
            background-image: linear-gradient(120deg, #f6d365, #fda085);
        }
    }
}

.portfolio {
    padding-bottom: 10rem;

    .featured {
        padding-block: 10rem;

        &__content {
            background-image: linear-gradient(
                90deg,
                #151c27,
                rgba(21, 28, 39, 0)
            );
        }
    }

    .tabs {
        margin: 10vh auto;
        text-align: center;
    }

    .project {
        display: flex;
        padding-block: 2rem;
        border-top: 1px solid #59586f;
        border-bottom: 1px solid #59586f;
        width: 85%;
        margin-inline: auto;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        &__title {
            padding-bottom: 1rem;
        }

        &__content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            width: 60%;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        &__description {
            width: 60%;
            margin-bottom: 2rem;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        &__add-info {
            @include flexbox(row, space-between, center);
            flex-wrap: wrap;
        }

        &__links {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            padding-right: 4rem;

            @media screen and (max-width: 768px) {
                padding-right: 0;
            }

            a {
                display: flex;
                align-items: center;
                column-gap: 0.5rem;
            }
        }

        &__lang-tags {
            display: flex;
            column-gap: 1rem;
        }

        &__img {
            width: 30%;

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-top: 2rem;
            }
        }
    }
}

.contact {
    @include flex-center(column, 30vh, 100%);
    row-gap: 2rem;
    background-color: $primary-300;

    &__email {
        color: $accent-color;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;
    }

    &__icon {
        @include flex-center(row, 45px, 45px);
        background-color: $accent-color;
        border-radius: 50%;
        cursor: pointer;
    }

    &__copyright {
        color: #727272;
    }
}
